* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Sans", sans-serif;
}

#contact_modal {
  display: none;
}

header {
  display: flex;
  height: 90px;
  align-items: center;
}

.logo {
  width: 14%;
  margin-left: 7%;
}


main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.photographer_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FAFAFA;
  border-radius: 5px;
  height: 300px;
  margin: 0 100px;
}

.photographer_header .photographer-profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 34%;
  margin-left: 3%;
}

.photographer-profile h1 {
  color: #D3573C;
  font-size: 3em;
  font-weight: 400;
}

.photographer_header .photographer-city {
  color: #901C1C;
  font-size: 1.5em;
}

.photographer-profile span {
  font-size: 1.1em;
  font-weight: 400;
  color: #525252;
}

.photographer_header .user {
  width: 28%;
  display: flex;
  justify-content: center;
}

.photographer_header .user img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

/* media section */
section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border: 1px solid red;
}

article {
  text-decoration: none;
  color: #911C1C;
  font-size: 22px;
}

article a {
  height: 90%;
}

article a img, video {
  width: 350px;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
}

article .media-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  height: 10%;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  align-self: center;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312E2E;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
